.node > * {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.node .k {
  background-image: url(../../assets/black-king.png);
}

.node .q {
  background-image: url(../../assets/black-queen.png);
}

.node .r {
  background-image: url(../../assets/black-rook.png);
}

.node .p {
  background-image: url(../../assets/black-pawn.png);
}

.node .b {
  background-image: url(../../assets/black-bishop.png);
}

.node .kn {
  background-image: url(../../assets/black-knight.png);
}

.node .K {
  background-image: url(../../assets/white-king.png);
}

.node .Q {
  background-image: url(../../assets/white-queen.png);
}

.node .R {
  background-image: url(../../assets/white-rook.png);
}

.node .P {
  background-image: url(../../assets/white-pawn.png);
}

.node .B {
  background-image: url(../../assets/white-bishop.png);
}

.node .KN {
  background-image: url(../../assets/white-knight.png);
}
